$black: #000;
$white: #FEFEFE;
$light-grey:#E0E0E0;
$grey: #BEBEBE;
$green: #249D05;
$orange: #FC8C04;
$red: #910201;

$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra-large: 1200px;